rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /banners/{bannerId} {
      allow read: if request.auth != null
                   && request.auth.token.email.matches('.*@compass[.]com');
      allow write: if request.auth != null
                    && request.auth.token.email.matches('.*@compass[.]com');
    }
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
      match /signatures/{sigId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
      match /media/{mediaId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
